extend base

block content 
    div(class="max-w-7xl h-auto mx-auto")
        img(src="https://quotefancy.com/media/wallpaper/3840x2160/6680991-Terence-McKenna-Quote-Take-it-easy-man-but-take-it.jpg" alt="take it easy man, but take it")