extend base

block content 
    div(class="w-full h-auto flex justify-center items-center")
        h1(class="font-semibold, text-2xl") All the Credits goes to 
            span(class="text-orange-400") sumit rajwade