extend base

block content 
    div(class="flex gap-4 flex-col bg-yellow-600 text-gray-900 text-2xl min-w-full h-96 justify-center items-center")
        h1 You must Login First in order to access all the Resource ,
            sapn(class="text-purple-700") Or you can go back watch the 
                span(class="font-semibold text-lg text-red-800") 1st SEM Docs
        a(href="/" class="bg-blue-950 text-yellow-700 rounded-md p-2") Home Page